body {
    background: none;
    background-color: #252525;
}

.navbar {
    background-color: #1c1c1c;
}

.head .title {
    margin-top: 75px;
    background: url(/img/Section1-2.png);
    /* background-size: 100% 50%; */
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    color: white;
    font-weight: 400;
    text-align: center;
    font-size: 25px;
}

.title h1 {
    font-weight: 400;
    margin: 40px auto;
}

.meta {
    width: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    align-items: center;
}

.meta a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.main-services {
    /* background-color: brown; */
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main-service {
    width: 70%;
    /* background-color: cadetblue; */
}

.container-s-m {
    padding: 30px 60px;
    font-size: 24px;
    color: white;
}

ul {
    list-style-image: url(/img/list-style.png);
    margin-top: 20px;
}

ul li {
    /* background-color: rgb(154, 149, 168); */
    padding: 5px 15px;
    margin: 10px;
}

aside {
    direction: ltr;
    margin-top: 30px;
    width: 30%;
}

.container-services {
    direction: ltr;
    background: linear-gradient(to left, #2c2c2cb4, #0c0c0c00);
    box-shadow: 4px 4px 11px rgba(0, 0, 0, 0.19); /* shadow effect */
    width: 100%;
    text-align: center;
    display: block;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.container-services h2 {
    font-weight: 400;
    font-size: 40px;
    margin: 20px auto;
    color: #33c051;
}

.suggested-service {
    background-color: #1a1a1a;
    box-shadow: 4px 4px 11px rgba(0, 0, 0, 0.1); /* shadow effect */
    padding: 10px;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
}

.suggested-service span a {
    text-decoration: none;
    color: white;
}

.contact-us {
    /* background-color: #1c1c1c; */
    background: linear-gradient(to left, #2c2c2cb4, #0c0c0c00);
    box-shadow: 4px 4px 11px rgba(0, 0, 0, 0.1); /* shadow effect */
    direction: ltr;
    width: 100%;
    text-align: center;
    display: block;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.contact-us img {
    width: 85%;
}

.phone-email {
    color: white;
    display: flex;
    width: 80%;
    margin: 10px auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.number {
    width: 80%;
}

.call-logo {
    width: 8%;
    display: flex;
}

.button {
    margin: 50px 30px;
}

.button .b1 {
    width: 25%;
    display: flex;
    align-items: center;
    border-radius: 8px;
    position: relative;
    box-shadow: 13px 13px 9px rgb(0 0 0 / 10%);
    background: linear-gradient(to bottom, #1b1b1b3f, #feb47b00);
}