.service-header {
    background-image: url(../img/service-header.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 37px 0px #00000026;
    padding: 50px 0px !important;
}

.headers-title h1 {
    background: linear-gradient(112deg, rgba(41,178,70,1) 0%, rgba(46,222,84,1) 100%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.service-card,
single-feature {
    width: 32%;
    box-shadow: 0px 4px 37px 0px #00000026;
}

.card-one-img {
    background-image: url(../img/r1.jpg);
}

.card-two-img {
    background-image: url(../img/r3.jpg);
}

.card-three-img {
    background-image: url(../img/r5.png);
}

.card-one-img,
.card-two-img,
.card-three-img {
    background-size: cover;
    background-position: center;
}

.features-titles p {
    line-height: 32px;
}

.single-feature {
    background: rgb(48,48,48);
    background: linear-gradient(145deg, rgba(48,48,48,0.2777485994397759) 0%, rgba(0,0,0,1) 100%);
    box-shadow: 0px 4px 37px 0px #00000026;
}


@media screen and (min-width: 320px) and (max-width: 767px) {

    .meta {
        font-size: 13px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .cards-container {
        flex-direction: column;
    }
    .service-card {
        width: 100%;
        height: 250px !important;
    }

    .service-card h4 {
        font-size: 20px ;

    }

    .footer-top {
        padding: 14px !important;
    }

    .footer-top p {
        font-size: 12px;
    }

    .list ul li a {
        font-size: 12px !important
    }

}


@media screen and (min-width: 768px) and (max-width: 992px) {

    .main-service-container {
        padding: 10px !important;
    }

    .service-card {
        height: 250px !important;
    }
    .service-card h4 {
        font-size: 14px ;
    }

}


@media screen and (min-width: 320px) and (max-width: 767px) {

    .why-choose-us {
        padding: 18px 16px !important;
    }

    .features-titles {
        flex-direction: column;
        gap: 18px !important;
    }

    .features-titles h2 {
        font-size: 18px;
        width: 100%;
    }

    .features-titles p {
        width: 100%;
        text-align: justify;
        line-height: 24px !important;
        font-size: 13px
    }

    .features-cards {
        padding: 24px 0px !important;
    }

    .features-container {
        flex-direction: column;
        gap: 20px !important;
    }

    .single-feature {
        padding: 20px 10px !important;
    }

    .single-feature p {
        padding: 0px 16px !important;
        font-size: 12px;
        line-height: px;
    }

    .icon div {
        font-size: 14px;
    }
}


@media screen and (min-width: 768px) and (max-width: 992px) {

    .why-choose-us {
        padding: 18px 16px !important;
    }

    .features-titles {
        flex-direction: column;
        gap: 10px !important;
    }

    .features-titles h2 {
        width: 100%;
    }

    .features-titles p {
        width: 100%;
        padding: 10px 0px !important;
        text-align: justify;
        line-height: 28px !important;
    }

    .features-cards {
        padding: 24px 0px !important;
    }

    .features-container {
        align-items: center;
        flex-direction: column;
        gap: 25px !important;
    }

    .single-feature {
        width: 90%;
        padding: 25px 30px !important;
    }

    .single-feature p {
        line-height: 32px;
    }
}


