
.tags {
    background-color: rgb(31, 31, 31);
    position: sticky;
    top: 100px !important;
    box-shadow: 0px 4px 37px 0px #00000026;
}

.tags h3 {
    color:  rgba(41,178,70,1);        
}

.tags:hover {
    background-color: rgba(15, 15, 15, 0.411);
    border: 0.5px solid  rgba(41,178,70,1);
    box-shadow: 0px 4px 37px 0px #00000026;
    transition: all 500ms ease-in-out;
}

.service-img {
    box-shadow: 0px 4px 37px 0px #00000026;
}

.service-content {
    background-color: rgb(31, 31, 31);
    box-shadow: 0px 4px 37px 0px #00000026;
    text-align: justify;
    line-height: 28px;
}

.service-content h2 {
    color:  rgba(41,178,70,1);        
}

.service-content p {
    line-height: 32px;
}

.service-content:hover {
    background-color: rgba(15, 15, 15, 0.411);
    border: 0.5px solid  rgba(41,178,70,1);
    box-shadow: 0px 4px 37px 0px #00000026;
    transition: all 500ms ease-in-out;
}

.service-tag {
    background-color: rgba(0, 0, 0, 0.575);
}


@media screen and (min-width: 320px) and (max-width: 767px) {
    main {
        padding-top: 84px !important;
    }

    .service-header {
        border-radius: 0% !important;
    }
     
    .service-container {
        flex-direction: column;
        width: 95%;
        padding: 0 !important;
        align-items: center;
    }

    .right-side {
        width: 100%;
        padding: 0 !important;
        gap: 16px !important;
    }

    .service-img {
        height: auto !important;
    }

    .service-content {
        text-align: justify;
        gap: 8px !important;
        padding: 22px 10px !important;
    }

    .service-content h2 {
        font-size: 22px;
    }

    .service-content p {
        line-height: 28px !important;
        font-size: 13px;
    }

    .left-side {
      display: none !important;   
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) {

    main {
        padding-top: 124px !important;
    }

    .service-header {
        border-radius: 0% !important;
    }

    p {
        font-size: 13px;
    }

    .service-container {
        width: 95%;
    }

    .right-side {
        width: 60%;
        gap: 20px !important;
    }

    .service-content {
        gap: 10px !important;
    }

    .left-side {
        width: 40%;
    }

    .tags {
        position: static;
        top: 200px;
    }

}