@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    direction: rtl;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #131313;
    font-family: Alexandria,sans-serif;
    font-weight: 300;
}

main {
    width: 1240px;
    max-width: 100%;
}

nav {
    width: 1240px;
    max-width: 100%;
    background: rgb(68,68,68);
    background: linear-gradient(149deg, rgba(68,68,68,1) 0%, rgba(0,0,0,1) 100%);
    box-shadow: 0px 4px 37px 0px #00000026;
}

a {
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    
    main {
        max-width: 90%;
    }   

    nav {
        padding: 10px !important;
    }
    
    .logo {
        width: 45%;
    }
    
    .links {
        display: none !important;
    }

    .burger-menu {
        width: 8%;
        display: flex !important;
        justify-content: center;
    }

    .burger-menu-side {
        width: 90%;
        background-image: url(../img/main-5.png);
        background-position: left center;
        background-size: cover;
        border: none;
        outline: none;
    }
}


@media screen and (min-width: 501px) and (max-width: 767px) {
    main {
        max-width: 90%;
         }   
     
    nav {
        padding: 10px !important;
         }
    
    .logo {
        width: 35%;
    }
    
    .links {
        display: none !important;
    }

    .burger-menu {
        display: block !important;
    }

    .burger-menu-side {
        width: 90%;
        background-image: url(../img/main-5.png);
        background-position: left center;
        background-size: cover;
        border: none;
        outline: none;
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) {
    main {
        max-width: 90%;
    }

    nav {
        padding: 10px !important;

    }
        
    .links {
        display: none !important;
    }

    .burger-menu {
        display: block !important;
    }

    .burger-menu-side {
        width: 90%;
        background-image: url(../img/main-5.png);
        background-position: left center;
        background-size: cover;
        border: none;
        
    }


}

@media screen and (min-width: 993px) and (max-width: 1270px) {
    main {
        max-width: 90%;
    }
}


.section-one {
    background-image: url(../img/Section1.png);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 37px 0px #00000026;
}

.titles {
    background: rgb(33,33,33);
    background: linear-gradient(292deg, rgba(33,33,33,1) 0%, rgba(27,27,27,0.05085784313725494) 100%);
}

.titles h1 {
    background: linear-gradient(112deg, rgba(41,178,70,1) 0%, rgba(46,222,84,1) 100%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.titles p {
    text-align: justify;
    line-height: 28px;
}

.contact-via-whatsapp {
    width: 220px;
    max-width: 25%;
    position: fixed;
    bottom: 18px;
    right: 44px;
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .section-one {
        width: 100%;
        padding: 50px 0px !important;
    }

    .titles-container {
        width: 100%;
        padding: 0.5rem!important;
    }

    .titles {
        padding: 26px 20px !important;
        gap: 14px !important;
        text-align: center;
    }

    .titles h1 {
        font-size: 1.15em;
    }

    .titles p {           
        text-align: justify;
        line-height: 22px;
        font-size: 11px;
        font-weight: 300;
    }


}

@media screen and (min-width: 501px) and (max-width: 767px) {
    .section-one {
        width: 100%;
        padding: 50px 0px !important;
    }

    .titles-container {
        width: 100%;
        padding: 0.7rem !important;
    }

    .titles {
        padding: 20px !important;
        gap: 12px !important;
        text-align: center;
    }

    .titles h1 {
        font-size: 1.5rem;
    }

    .titles p {
        text-align: justify;
        line-height: 23px;
        font-size: 12px;
        font-weight: 300;
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .section-one {
        width: 100%;
        padding: 50px 0px !important;
    }

    .titles-container {
        width: 100%;
        padding: 0.7rem !important;
    }

    .titles {
        padding: 20px !important;
        gap: 16px !important;
    }

    .titles h1 {
        font-size: 1.5rem;
    }

    .titles p {
        text-align: justify;
        line-height: 23px;
        font-size: 12px;
        font-weight: 300;
    }
}

@media screen and (min-width: 993px) and (max-width: 1270px) {
    
    nav {
        padding: 0px 20px !important;   
     }

     .titles {
        gap: 1.3rem !important;
     }

     .titles-container {
        width: 65%;
     }

     .titles h1 {
        font-size: 1.8rem;
     }

     .titles p {
        line-height: 27px;
        font-size: 15px;
     }
    
}


.section-two {
    padding-top: 60px !important;
}

.section-two p {
    line-height: 30px;
    color: rgb(221, 221, 221);
    text-align: justify;
}

.section-three {
    padding-top: 80px !important;
}

.feature p {
    color: rgb(221, 221, 221);
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    
    .section-two {
        padding-top: 45px !important;
        background-color: red;
    }

    .section-two .two-titles {
        text-align: center;
    }

    .section-two h2 {
        font-size: 16px;
        padding-bottom: 14px !important;
    }

    .section-two p {
        font-size: 11px;
        line-height: 25px;
        padding-bottom: 15px !important;
    }
    .two-container {
        flex-direction: column;
        gap: 32px !important;
    }

    .two-titles {
        width: 100%;
        order: 2;
    }

    .vertical-logo {
        width: 30%;
        order: 0;
        text-align: center;
    }

    .vertical-logo img {
        width: 85%;
    }
}
    
@media screen and (min-width: 501px) and (max-width: 767px) {
    .section-two {
        padding: 30px 0px !important;
    }

    .two-container {
        flex-direction: column;
        gap: 32px !important;
    }

    .two-titles {
        width: 100%;
        order: 1;
        text-align: center;
    }

    .section-two h2 {
        font-size: 16px;
        padding-bottom: 14px !important;
    }

    .section-two p {
        font-size: 11px;
        line-height: 25px;
        padding-bottom: 15px !important;
    }

    .vertical-logo {
        order: 0;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .two-titles h2 {
        font-size: 1.5rem;
    }

    .two-titles p {
        font-size: 14px;
    }
}


    
    .features {
        flex-direction: column;
        gap: 10px !important;
    }

    .feature {
        width: 100%;
        padding: 50px !important;
        gap: 30px !important;
    }

    .feature img {
        width: 20%;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .features {
        flex-wrap: wrap;
    }

    .feature {
        width: 50%;
        padding: 40px !important;
    }

    .feature img {
        width: 20%;
    }
}

.section-four {
    padding-top: 90px !important;
}


.services {
    padding-top: 40px !important;
}

.main-service {
    width: calc(100% / 3 - 0.5rem);
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    box-shadow: 0px 4px 37px 0px #00000026;
}

.main-service:hover {
    transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
    transform: scale(1.10);
    box-shadow: 0px 4px 37px 0px #00000026;
    background: rgb(9,166,38);
    background: linear-gradient(36deg, rgba(9,166,38,0) 0%, rgba(9,166,38,1) 100%);
}

.main-service p {
    width: 100%;
    color: rgb(221, 221, 221);
    text-align: justify;
    line-height: 28px;
}

.service1 {
    background-image: url(../img/r1.jpg);
}

.service2 {
    background-image: url(../img/r5.png);
}

.service3 {
    background-image: url(../img/r2.jpg);
}

@media screen and (max-width: 767px) {
    .section-four {
        padding: 0 !important;
    }

    .services {
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }

    .main-service {
        width: 100%;
        height: 300px;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .section-four {
        padding: 60px 0px !important;
    }
   
    .services {
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }

    .main-service {
        width: 100%;
    }
}

.section-five {
    padding: 100px 0px !important;
}

.founder {
    box-shadow: 0px 4px 37px 0px #00000026;
    background: rgb(34,34,34);
    background: linear-gradient(36deg, rgba(34,34,34,0.7399334733893557) 0%, rgba(40,40,40,1) 100%);
}

.founder p {
    text-align: justify;
    line-height: 2rem;
    color: rgb(221, 221, 221);
}

.founder img {
    box-shadow: 0px 4px 37px 0px #00000026;
}

.founder img:hover {
    transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
    transform: scale(1.10);
    box-shadow: 0px 4px 37px 0px #00000026;
}

@media screen and (max-width: 767px) {

    .founder {
        flex-direction: column;
        gap: 50px !important;
    }

    .founder-titles {
        width: 100%;
        align-items: center;
        order: 2;
    }

    .founder-img {
        width: 30%;
        order: 1;
    }

}

footer {
    padding: 10px 0px !important;
    background-image: url(../img/main-5.png);
    background-position: center;
    background-size: cover;
}

.footer-logo {
    text-align: justify;
    font-size: 12px;
    color: rgb(221, 221, 221);
}


.list ul li a {
    font-size: 14px !important;
    color: rgb(221, 221, 221);
}

.rights {
    justify-content: center;
    gap: 5px;
}

.rights p {
    font-size: 12px;
}

.footer-bottom {
    background-color: #00000026;
}

.footer-bottom p {
    color: #6c757d;
}

@media screen and (max-width: 767px) {
 
    .footer-top {
        flex-direction: column;
        gap: 26px !important;
    }

    .footer-logo,
    .list {
        width: 100%;
    }

    .footer-img {
        width: 50%;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 35px !important;
        padding: 30px 0px !important;
    }

    .social-links {
        order: 1;
    }

    .rights {
        order: 2;
    }


}

@media screen and (min-width: 768px) and (max-width: 992px) {
 
    .footer-top {
        flex-direction: column;
        gap: 26px !important;
    }

    .footer-logo,
    .list {
        width: 100%;
    }

    .footer-img {
        width: 40%;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 35px !important;
        padding: 30px 0px !important;
    }

    .social-links {
        order: 1;
    }

    .rights {
        order: 2;
    }
}