/* carousel section */


.carousel-item {
    box-shadow: 0px 4px 37px 0px #00000026;
}

.carousel-inner {
    display: flex;
    transition: all 2000ms ease-in !important;
}

.slide-one {
    background-image: url(../img/slide-one-mobile.jpg);
    background-size: cover;
    background-position: center;
}

.slide-two {
    background-image: url(../img/slide-two.jpg);
    background-size: cover;
    background-position: center top;
}

.slide-three {
    background-image: url(../img/slide-three.jpg);
    background-size: cover;
    background-position: center;
}


.carousel-control-prev,
.carousel-control-next {
    width: 7% !important;
}

.titles-container {
    padding-top: 60px !important;
}

.titles h1 {
    background: linear-gradient(112deg, rgba(41,178,70,1) 0%, rgba(46,222,84,1) 100%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.titles p {
    line-height: 32px;
    text-align: justify;
}

.titles .button {
    background-color: rgba(0, 0, 0, 0.699) !important;
    border: 1px solid  rgba(41,178,70,1);
    padding: 10px !important;
    box-shadow: 0px 4px 37px 0px #00000026;
}


.button:hover {
    background-color: black !important;
    box-shadow: 0px 4px 37px 0px #00000026;
    transition: all 400ms ease-out;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .carousel-item {
        height: 100vh;
    }

    .carousel-control-prev,
    .carousel-control-next {
    display: none;
    }

    .titles-container {
        width: 100%;
        padding: 0px 10px !important;
        height: 100%;
        align-items: flex-end;
    }

    .titles {
        padding: 0.5rem !important;
        padding-bottom: 30px !important;
        gap: 10px !important;
    }

    .titles h1 {
        font-size: 21px;
    }

    .titles p {
        font-size: 13px;
        line-height: 26px;
    }

    .titles .button {
        background-color: rgba(0, 0, 0, 0.699) !important;
        border: 1px solid  rgba(41,178,70,1);
        width: 100px !important;
        padding: 5px !important;
        box-shadow: 0px 4px 37px 0px #00000026;
    }
    
    .titles .button a {
        font-size: 12px;
    }

    .slide-one {
        background-image: url(../img/slide-one-mobile.jpg);
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
   
   
    .carousel-item {
        height: 60vh;
    }
   
    .carousel-control-prev,
    .carousel-control-next {
    display: none;
    }

    .titles-container {
        width: 100%;
        padding: 0px 10px !important;
        height: 100%;
        align-items: flex-end;
    }

    .titles .button {
        background-color: rgba(0, 0, 0, 0.699) !important;
        border: 1px solid  rgba(41,178,70,1);
        width: 100px !important;
        padding: 5px !important;
        box-shadow: 0px 4px 37px 0px #00000026;
    }
    
    .titles .button a {
        font-size: 12px;
    }

    .slide-one {
        background-image: url(../img/slide-one-mobile.jpg);
    }
    .slide-two {
        background-image: url(../img/slide-two-mobile.jpg);
    }
    .slide-three {
        background-image: url(../img/slide-three-mobile.jpg);
    }
    
}


/* section-two */

.icon {
    padding: 10px !important;
    width: 60px;
    max-width: 20%;
    height: 60px;
}

.icon {
    background-color: rgba(41,178,70,1) !important;
}

.icon:hover {
    background-color: rgb(19, 19, 19) !important;
    transition: background-color 250ms ease-out;
}

.two-titles h2 {
    background: linear-gradient(112deg, rgba(41,178,70,1) 0%, rgba(46,222,84,1) 100%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}


.two-titles p {
    text-align: justify;
    line-height: 27px;
    color: white;
}

.special-card {
    width: 49%;
}

.special-card:hover {
    border: 1px solid  rgba(41,178,70,1);
    background-color: rgb(15, 15, 15);
    box-shadow: 0px 4px 37px 0px #00000026;
    transition: all 300ms;
}

/* section two mobile */

@media screen and (min-width: 320px) and (max-width: 767px) {
    .section-two {
        padding: 15px !important;
    }

    .icon {
        width: 40px;
        height: 40px;
    }

    .two-container {
        flex-direction: column;
        gap: 20px;
    }

    .two-titles {
        width: 100%;
        gap: 15px !important;
        order: 2;
    }

    .two-titles h2 {
        padding: 0px !important;
        font-size: 22px;
    }

    .two-titles p {
        font-size: 13px ;
    }

    .vision-and-mssg {
        flex-direction: column;
    }

    .special-card {
        width: 100%;
        padding: 10px !important;
    }

    .vertical-logo {
        width: 100%;
        order: 1;
        padding: 15px 0px !important;
    }

    .vertical-logo img {
        width: 36%;
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .section-two {
        padding: 18px !important;
    }

    .icon {
        width: 40px;
        height: 40px;
    }

    .two-container {
        flex-direction: column;
        gap: 20px;
    }

    .two-titles {
        width: 100%;
        gap: 24px !important;
        order: 2;
    }

    .two-titles h2 {
        padding-bottom: 0px !important;
    }

    .two-titles p {
        line-height: 32px;
    }

    .vision-and-mssg {
        flex-direction: column;
    }

    .special-card {
        width: 100%;
    }

    .vertical-logo {
        width: 100%;
        order: 1;
    }

    .vertical-logo img {
        width: 26%;
    }

}

/* section-three */


.three-container h2 {
    background: linear-gradient(112deg, rgba(41, 178, 70, 1) 0%, rgba(46, 222, 84, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.features {
    background: rgb(11,163,41);
    background: linear-gradient(180deg, rgba(11,163,41,0.5634628851540616) 0%, rgba(2,92,29,0.8715861344537815) 100%);
}

.features .special-card {
    width: 49%;
    background-color: rgba(0, 0, 0, 0.363);
    line-height: 27px;
}

.features .special-card:hover {
    border: 1px solid rgb(255, 255, 255);
}

.features .special-card .icon {
    width: 50px;
    height: 50px;
    background-color: rgba(41,178,70,1) !important;
}

.features .special-card .icon:hover {
    background-color: rgb(19, 19, 19) !important;
    transition: background-color 250ms ease-out;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .section-three {
        padding: 18px !important;
        border-radius: 0% !important;
        background-position: center;
    }

    .three-container p {
        width: 100%;
        text-align: justify;
        font-size: 13px;
        line-height: 27px;
    }

    .features .special-card {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.747);
        line-height: 27px;
    }

    .features .special-card .icon {
        width: 35px;
        height: 35px;
        background-color: rgba(41,178,70,1) !important;
    }
    
    .features .special-card h4 {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .section-three {
        padding: 18px !important;
        border-radius: 0% !important;
        background-position: center;
    }

    .three-container p {
        width: 90%;
        text-align: justify;
        line-height: 27px;
    }

    .features .special-card {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.747);
        line-height: 27px;
        padding: 15px !important;
    }

    .features .special-card p {
        width: 100%;
    }
}

/* section-four */

.section-four {
    padding-top: 30px !important;
    background-image: url(../img/sean-pollock-PhYq704ffdA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section-four h2 {
    background: linear-gradient(112deg, rgba(41, 178, 70, 1) 0%, rgba(46, 222, 84, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.single-service {
    background-color: rgba(0, 0, 0, 0.438);
}

.single-service:hover {
    background-color: rgba(0, 0, 0, 0.644);
    border: 1px solid  rgba(41,178,70,1);
}

.services-section-one:hover {
    padding: 20px !important;
    background-color: rgba(15, 15, 15, 0.651);
    border: 0.5px solid  rgba(41,178,70,1);
    box-shadow: 0px 4px 37px 0px #00000026;
    transition: all 500ms ease-in-out;
    color: rgba(41, 178, 70, 1);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .section-four {
        gap: 16px !important;
        padding: 10px !important;
        padding-top: 50px !important;
        border-radius: 0% !important;
    }

    .section-four p {
        font-size: 13px;
    }

    .services {
        flex-direction: column;
        padding: 10px !important;
        gap: 10px !important;

    }

    .services-section-one {
        width: 100%;
        padding: 10px !important;
    }

    .services-section {
        padding: 0px !important;
    }

    .services-section h5 {
        padding-bottom: 0.6rem !important;
    }

    .single-service {
        padding: 10px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .section-four {
        gap: 16px !important;
        padding: 10px !important;
        padding-top: 50px !important;
        border-radius: 0% !important;
    }

    .services {
        flex-direction: column;
        padding: 22px !important;
        gap: 16px !important;
    }

    .services-section-one {
        width: 100%;
    }
}

/* section-five */

.section-five {
    background-image: url(../img/slide-one-mobile.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 37px 0px #00000026;
}

.section-five h2 {
    background: linear-gradient(112deg, rgba(41, 178, 70, 1) 0%, rgba(46, 222, 84, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-five-left a button:hover {
    color: red !important;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .section-five {
        flex-direction: column;
        border-radius: 0% !important;
        gap: 40px;
        padding: 30px !important;
        padding-top: 40px !important;
    }

    .section-five-right {
        width: 100%;
        text-align: center;
        padding: 0px !important;
    }

    .section-five-right h2 {
        font-size: 22px;
        padding-bottom: 10px !important;
    }

    .section-five-right p {
        font-size: 13px;        
    }

    .section-five-left {
        width: 100%;
    }

    .section-five-left button {
        width: 100%;
    }

    .section-five-left button a {
        font-size: 13px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .section-five {
        flex-direction: column;
        gap: 20px;
        padding: 30px !important;
        border-radius: 0% !important;
    }

    .section-five-right {
        text-align: center;
        width: 100%;
    }

    .section-five-left {
        width: 100%;
    }

    .section-five-left button {
        width: 80%;
    }
}

/* section six */ 

.section-six {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.qoute {
    width: 75% !important;
}

.qoute h2 {
    background: linear-gradient(112deg, rgba(41, 178, 70, 1) 0%, rgba(46, 222, 84, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.qoute p {
    text-align: justify;
    line-height: 27px;
    color: rgb(145, 145, 145);
}

.author {
    width: 25%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .section-six {
        /* background-color: orange !important; */
        flex-direction: column;
        padding: 0px !important;
        padding-top: 20px !important;
    }

    .qoute {
        order: 2;
        width: 95% !important;
    }

    .qoute h2 {
        font-size: 24px;
        padding-bottom: 15px !important;
    }

    .qoute p {
        padding-bottom: 5px !important;
        font-size: 13px;
        text-align: right;
    }


    .author {
        width: 55%;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .section-six {
        /* background-color: green; */
        padding: 10px !important;
    }

    .qoute {
        width: 95% !important;
        /* background-color: rebeccapurple; */
    }
    
}






